/* HEADER */
header{
    background: linear-gradient(50deg, #00000078,#0807076b),
    url("../../Img/Bg7.jpg")center/cover;
    height: 100vh;
}
/* CONTAINER */
.container {
    width: 1140px;
    margin: 0 auto;
}
/* NAVBAR */
#navbar, #navbar-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
}
.navbar{
    display: flex;
    align-items: center;
}
.logo{
    font: 700 24px arial;
    color: #fff;
    text-transform: capitalize;
}
#navbar-1{
    display: none;
}
nav{
    padding-left: 32px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}
nav a, .dropdown-2 a{
    font: 600 15px arial;
    color: rgba(255, 255, 255, 0.7);
    text-transform: capitalize;
    transition: .4s;
}
nav a:hover, .small-view i:hover{
    color: #fff;
}
.dropdown, .dropdown-1, .droppdown-2{
    position: relative;
    display: inline-block;
}
.special-view{
    display: inline-block;
    padding: 10px 0;
}
.small-view i{
    font-size: 10px;
    padding-left: 8px;
    position: absolute;
    top: 14px;
}
.dropdown-content-2{
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
    transition: .4s;
    opacity: 0;
    pointer-events: none;
}
.dropdown-content, .dropdown-content-1{
    position: absolute;
    z-index: 1;
    min-width: 210px;
    background-color: #fff;
    padding: 20px 0;
    transition: .4s;
    opacity: 0;
    pointer-events: none;
}
.dropdown-content-1{
    top: 0;
    left: 100%;
}
.fa-angle-right{
    font-size: 10px;
    padding-left: 75px;
    position: absolute;
    top: 12px;
}
.dropdown-content a, .dropdown-content-1 a, .dropdown-content-2 a{
    display: inline-block;
    font: 500 14px arial;
    color: #000;
    padding: 8px 20px;
    min-width: 210px;
}
.dropdown-content a:hover, .dropdown-content-1 a:hover, .dropdown-content-2 a:hover{
    color: #fc8621;
}
.dropdown:hover .dropdown-content, .dropdown-1:hover .dropdown-content-1, .dropdown-2:hover .dropdown-content-2{
    opacity: 1;
    pointer-events: auto;
}
.contact a{
    display: inline-block;
    font: 500 14px arial;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    padding: 10px 20px;
    transition: .4s;
}
.contact a:hover{
    background-color: #fc8621;
    border: 2px solid #fc8621;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 480px;
    height: 82vh;
}
.title h1{
    font: 600 60px arial;
    color: #fff;
    padding-bottom: 50px;
}
.view{
    display: flex;
    align-items: center;
}
.border{
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
}
.border i{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.view a{
    font: 500 16px arial;
    color: #fff;
    text-transform: capitalize;
    padding-left: 10px;
}
.text{
    display: flex;
    align-items: center;
    padding-left: 25px;
}
.text i{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    color: #fff;
    padding: 12px;
}
.text p{
    font: 500 14px arial;
    color: #fff;
    padding-left: 15px;
}

/* MAIN */
#all{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 112px 0;
}
.small-text, .title-1 p, .title-2 p{
    font: 700 18px arial;
    color: #fc8621;
    text-transform: uppercase;
    padding-bottom: 16px;
}
h2{
    font: 700 46px arial;
    color: #000;
    width: 500px;
    padding-bottom: 16px;
}
.text-2 p, .text-4 p{
    font: 400 15px arial;
    color: #212529;
    padding-bottom: 16px;
    width: 520px;
}
.link{
    padding-top: 30px;
}
.link a{
    display: inline-block;
    background-color: #fc8621;
    font: 500 16px arial;
    color: #fff;
    text-transform: capitalize;
    border-radius: 30px;
    padding: 12px 30px;
    transition: .4s;
}
.link a:hover{
    opacity: .8;
}
.img{
    display: flex;
    justify-content: space-between;
    width: 590px;
}
.img-1{
    padding-bottom: 48px;
}
.img-2{

    padding-top: 48px;
}
/* CONTAINER */
#all-1, #all-2{
    padding: 112px 0;
}
.all{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.text-3 h2, .title-1 h2, .title-2 h2{
    text-transform: capitalize;
}
.icon{
    display: flex;
    align-items: center;
}
.kmo{
    text-align: end;
    width: 100px;
}
.kmo-1{
    width: 100px;
}
.icon i{
    color: #212529;
    width: 80px;
    transition: .4s;
    cursor: pointer;
}
.kmo i{
    font-size: 48px;
}
.kmo-1 i{
    font-size: 56px;
}
.kmo i:hover{
    padding-right: 7px;
    color: #fc8621;
}
.kmo-1 i:hover{
    padding-left: 7px;
    color: #fc8621;
}
.text-img{
    width: 360px;
}
.small-view-1{
    padding: 24px 0 8px 0;
}
.text-img a{
    display: inline-block;
    font: 700 26px arial;
    color:  #000;
}
.text-img p{
    font: 500 14px arial;
    color:  #999;
    width: 350px;
}
.bg{
    background-color: #eee;
}
/* CONTAINER */
#all-2{
    display: flex;
    justify-content: space-between;
}
.img-3 img{
    border-radius: 50%;
}
.small-text-1{
    font: 500 18px arial;
    color: #fc8621;
    text-transform: capitalize;
    padding: 10px 0 3px 0;
}
.small-text-2{
    font: 500 14px arial;
    color: #000;
    padding-bottom: 30px;
}
.link-1 a{
    display: inline-block;
    background-color: #fc8621;
    font: 500 16px arial;
    color: #fff;
    padding: 15px 10px;
    width: 456px;
    transition: .4s;
}
.info i{
    padding-right: 8px;
}
.text-5 p{
    font: 400 14px arial;
    color: #212529;
    width: 590px;
    padding: 20px 0 35px 20px;
}
.info-1{
    display: flex;
    flex-direction: column;
    padding-left: 12px;
}
.small-view-2{
    padding-bottom: 35px;
}
.info-1 a{
    display: inline-block;
    font: 500 16px arial;
    color: #000;
}
/* CONTAINER */
#all-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    padding: 112px 0;
    gap: 16px;
}
.view-1{
    width: 267px;
}
.title-2 h2{
    padding-bottom: 48px;
}
.view-2{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.small-text-3{
    font: 400 12px arial;
    color: #212529;
    padding: 20px 0 5px 0;
}
.link-2 a{
    font: 700 16px arial;
    color: #000;
    transition: .4s;
}
.link-2 a:hover{
    color: #fc8621;
}
.small-text-4{
    font: 400 14px arial;
    color: #212529;
    padding: 8px 0 15px 0;
}
.link-3 a{
    position: relative;
    font: 500 14px arial;
    color: #fc8621;
    text-transform: capitalize;
    transition: .4s;
}
.link-3 a:hover, .link-3 i:hover{
    color: #ca6b1a;
}
.link-3 i{
    position: absolute;
    top: 3px;
    font-size: 8px;
    padding-left: 3px;
    transition: .4s;
}
.bg-1{
    background-color: #fc8621;
    padding: 48px 0;
}
/* CONTAINER */
#all-4{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link-4 p{
    font: 500 28px arial;
    color: #fff;
}
.link-5 a{
    display: inline-block;
    background-color: transparent;
    font: 500 16px arial;
    color: #fff;
    text-transform: capitalize;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 12px 30px;
    transition: .4s;
}
.link-5 a:hover{
    background-color: #fff;
    color: #fc8621;
}

/* FOOTER */
footer{
    background-color: #efefef;
}
#all-5{
    padding: 70px 0 86px 0;
}
.all-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 70px;
}
h3{
    font: 700 16px arial;
    text-transform: capitalize;
    padding-bottom: 30px;
}
.footer-link span{
    color: #fc8621;
}
.footer-link p{
    font: 400 14px arial;
    color: #888;
    width: 380px;
    padding-bottom: 46px;
}
.icon-link{
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.ion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #777;
    border-radius: 50%;
    transition: .4s;
    cursor: pointer;
}
.ion:hover{
    background: #fc8621;
    opacity: .8;
}
.icon-link i{
    font-size: 14px;
    color: #fff;
    width: 14px;
}
.small-view-3{
    width: 150px;
    padding-bottom: 15px;
}
.footer-link-1 a, .footer-link-2 a, .footer-link-2 p{
    font: 400 14px arial;
    color: #777;
}
.footer-link-1 a{
    text-transform: capitalize;
}
.footer-link-2 p{
    padding-bottom: 18px;
}
.footer-text p{
    font: 400 14px arial;
    color: #888;
    text-align: center;
}
.footer-text i{
    color: #dc3545;
}
.footer-text a{
    color: #fc8621;
}

@media(min-width:768px) and (max-width:1200px){
    header{height: 80vh;}
    .container{width: 90%;}
    .navbar{justify-content: space-between;}
    #navbar-1{display: block;}
    .title, h2, .text-2 p, .img, .img img, .text-img img, .text-img p, .text-4 p, .text-5 p, .link-1 a, .img-4 img, .footer-link p{width: 100%;}
    .title{text-align: center;}
    .title{align-items: center; height: 60vh;}
    .text{justify-content: center;}
    .img-1, .img-2, .text-img, .info, .view-1{width: 48%;}
    .text-3{width: 60%;}
    .footer-link{width: 30%;}
    .small-view-3{width: auto;}
    #navbar{display: none;}
}
@media(max-width:768px){
    header{height: 60vh;}
    .container{width: 90%;}
    .navbar{justify-content: space-between;}
    #navbar-1{display: block;}
    #all, .img, .all, #all-2, #all-3, #all-4, .all-1{flex-direction: column;}
    #all, .all, #all-3, #all-4{gap: 30px;}
    .small-view i{top: 10px;}
    .text, .img-1, .img-2{padding: 0;}
    .navbar, .title, h2, .text-2 p, .img, .img img, .text-img, .text-img img, .text-img p, .text-4 p, .link-1 a, .text-5 p, .view-1, .img-4, .img-4 img, .footer-link p, .small-view-3{width: 100%;}
    .title, .all-1{text-align: center;}
    .title{height: 40vh; align-items: center;}
    .title h1, .img-1, .icon-link{padding-bottom: 30px;}
    .title h1{font-size: 30px;}
    .text{justify-content: center;}
    .footer-link{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #navbar, .icon{display: none;}
}